<div class="container">
    <div class="row">
        <div *ngFor="let contact of allContacts; index as i;" class="col-4 card">
            <div>
            <img class="img-thumbnail" [src]=contact.avatar style="width: 500px;" />
            <div class="card-body text-center">
                <h4 class="card-title">{{contact.first_name}}</h4>
                <p class="card-text"></p>
                <a [routerLink]="['/contactprofile', contact.id]" class="btn btn-dark"
                    style="border-radius: 20px;">contact profile</a>
            </div>
            </div>
        </div>

    </div>
</div>